services:
  mongodb:
    image: mongo:latest
    container_name: mongodb
    restart: always
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_INITDB_ROOT_USERNAME}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_INITDB_ROOT_PASSWORD}
    volumes:
      - mongo_data:/data/db
    networks:
      - app-network

  backend:
    image: uday2027/s2e1-hack-cuet-2025:backend
    container_name: backend
    restart: always
    environment:
      MONGO_URI: ${MONGO_URI}
      BACKEND_PORT: ${BACKEND_PORT}
    depends_on:
      - mongodb
    networks:
      - app-network

  gateway:
    image: uday2027/s2e1-hack-cuet-2025:gateway
    container_name: gateway
    restart: always
    environment:
      BACKEND_URL: http://backend:${BACKEND_PORT}
      GATEWAY_PORT: ${GATEWAY_PORT}
    ports:
      - "${GATEWAY_PORT}:${GATEWAY_PORT}"
    depends_on:
      - backend
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

volumes:
  mongo_data:
